<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover REST API</title>
</head>
<body>
    <h1>Discover REST API endpoints</h1>
    <section>
        <h2>User endpoints</h2>
        <section>
            <h3>POST /users</h3>
            <p>Public endpoint</p>
            <p>Use to create a user, the body of the request must have the following attributes : (TODO)</p>
            <h3>PATCH /users/$id</h3>
            <p>Private endpoint, accessible by the user corresponding to the id parameter</p>
            <p>Use to update a user corresponding to the id parameter, the body of the request should at least one of these attributes : (TODO) </p>
            <h3>DELETE /users/$id</h3>
            <p>Private endpoint, accessible by the user corresponding to the id parameter and admin users</p>
            <p>Use to delete a user corresponding to the id parameter</p>
        </section>
    </section>
</body>
</html>